<div class="wrapper row0" style="background-color: black;">
  <div id="topbar" class="hoc clear">
    <div class="fl_left">
      <ul class="nospace">
        <li><i class="fa fa-whatsapp"></i> <a href=""> +591 68691266</a> </li>
        <li><i class="fa fa-envelope-o"></i> <a href=""> aventuraChapaca@gmail.com </a> </li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><a href="index.html" title="Inicio"> <i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="index.html" title="Login"> <i class="fa fa-lg fa-user"></i></a></li>
      </ul>
    </div>
  </div>
</div>





<div class="animated overlay light">
  <div class="wrapper row1">


    <header id="header" class="hoc clear">
      <div class="row">
        <div id="logo" class="fl_left">
          <h1><a href="index.html">Aventura Chapaca</a></h1>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="" style="text-align: right;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 clear">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">INICIO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/home/tours']">TOURS</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/home/tours']">MI CUENTA</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/home/tours']">NOSOTROS</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>



      <!-- <nav id="mainav" class="fl_right">
        <a href=""></a>
        <ul class="clear nav-menu">
          <li class="active"><a href="index.html">INICIO</a></li>
          <li><a class="drop" [routerLink]="['/home/tours']">TOURS</a>
            <ul>
              <li><a [routerLink]="['/home/tours']">TODOS</a></li>
            </ul>
          </li>
          <li class="active"><a href="index.html">MI CUENTA</a></li>
          <li class="active"><a href="index.html">NOSOTROS</a></li>
        </ul>
      </nav> -->




    </header>



  </div>
  <div id="pageintro" class="hoc clear">
    <article>
      <h1 class="heading">Aventura<br>
        Chapaca</h1>
      <p>"Descubre el encanto oculto de nuestra tierra chapaca, con nuestros tours turísticos diseñados para sumergirte
        en la cultura y la belleza de cada rincón de Tarija."</p>
    </article>
  </div>
</div>

