<body id="top">
  <div>
    <div class="wrapper row0" style="background-color: black;">
      <div id="topbar" class="hoc clear">
        <div class="fl_left">
          <ul class="nospace">
            <li><i class="fa fa-whatsapp"></i> <a href="index.html"> +591 68691266</a> </li>
            <li><i class="fa fa-envelope-o"></i> <a href="index.html"> aventuraChapaca@gmail.com </a> </li>
          </ul>
        </div>
        <div class="fl_right">
          <ul class="nospace">
            <li><a href="index.html" title="Inicio"> <i class="fa fa-lg fa-home"></i></a></li>
            <li><a [routerLink]="['/auth/login']" title="Login"> <i class="fa fa-lg fa-user"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="light">
      <div class="wrapper row1">
        <header id="header" class="hoc clear">
          <div class="row">
            <div id="logo" class="fl_left">
              <h1><a href="index.html">Aventura Chapaca</a></h1>
            </div>


            <nav class="navbar navbar-expand-lg navbar-dark">
              <div class="" style="text-align: right;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 clear">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="index.html">INICIO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/src/app/modules/home/inicio/inicio.component.html#all-tours" >TOURS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/home/tours']">MI CUENTA</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/home/tours']">NOSOTROS</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </header>
      </div>
    </div>

  </div>

  <div class="wrapper row3">
    <main class="hoc container clear">
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="content">
        <!-- ################################################################################################ -->
        <div class="row">
          <h1 style="font-size: 40px;">ENTRE MONTAÑAS Y CASCADAS</h1>
          <br>
          <br>
          <img class="imgr borderedbox inspace-5" src="../../../../assets/images/img_lugares1/4.jpg" alt=""
            style="height: 350px">
            <h2>DESCRIPCION:</h2>
            <p>
              El tour consiste en la visista a las hermosas cascadas (Marquiri, Coiumata y Jurina) las cuales se encuentran en la reserva de Sama, para llegar a las mismas se pasará por las comunidades de (Rancho, Villa Esperanza, Calama) para después poder adentrarnos por medios de senderos y cañones hasta llegar a los chorrlos.
            </p>
            <h2>PRECIO:</h2>
            <P>230 <span>Bs.</span> </P>
            <h2>DURACION:</h2>
            <p>6<span> Hrs.</span></p>
            <h2>ADICIONALES:</h2>
            <p>TranSporte organizado desde su hotel hasta los lugares de visita ida y vuelta, lunch(Racion Seca), sesion de fotos, botiquin de primeros auxilios, guía especializado.</p>
            <h2>RECOMENDACIONES</h2>
            <p>Llevar zapatillas cómodas para la caminata, camisa larga, gorra o sombrero, protector solar, traje de baño (opcional), toalla, ropa ligera, mochila liviana, caminata de 2 horas</p>
            <h2>Lugares</h2>
            <p>- Chorros de Jurina, Coimata, y Marquiri</p>
            <p>- Comunidad de Calama</p>
            <p>- Arte Rupestre (Intiraymi)</p>
            <p>- Sendero de las Metas</p>
            <p>- Villa Esperanza</p>
            <p>- Bordo el Mollar</p>
          <div class="wrapper row3">

            <main class="hoc container clear">
              <!-- main body -->
              <!-- ################################################################################################ -->
              <div class="content">
                <!-- ################################################################################################ -->
                <div id="gallery">
                  <figure>
                    <header class="heading">Galeria de Imagenes</header>
                    <ul class="nospace clear">
                      <li class="one_quarter first"><a href="#"><img src="../../../../assets/images/img_lugares1/2.jpg"
                            alt=""></a></li>
                      <li class="one_quarter"><a href="#"><img src="../../../../assets/images/img_lugares1/3.jpg"
                            alt=""></a></li>
                      <li class="one_quarter"><a href="#"><img src="../../../../assets/images/img_lugares1/1.jpg"
                            alt=""></a></li>
                      <li class="one_quarter"><a href="#"><img src="../../../../assets/images/img_lugares1/2.jpg"
                            alt=""></a></li>
                    </ul>
                    <figcaption>Imagenes Del Tour</figcaption>
                  </figure>
                </div>
              </div>
            </main>
          </div>
        </div>

        <div class="">
          <div id="comments">
            <h2>Comentarios</h2>
            <ul>
              <li>
                <article>
                  <header>
                    <figure class="avatar"><img src="../../../../assets/images/user_icon.png" alt=""></figure>
                    <address>
                      Por <a class="usuario" href="#">Usuario1</a>
                    </address>
                    <time datetime="2045-04-06T08:15+00:00">Viernes, 21<sup>th</sup> Junio 2023 08:15:00</time>
                  </header>
                  <div class="comcont">
                    <p>This is an example of a comment made on a post. You can either edit the comment, delete the
                      comment or reply to the comment. Use this as a place to respond to the post or to share what you
                      are thinking.</p>
                  </div>
                </article>
              </li>
            </ul>
            <h2>Escribe Tus Comentarios</h2>
            <form action="#" method="post">
              <div class="block clear">
                <label for="comment">Tu Comentario</label>
                <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
              </div>
              <div>
                <input type="submit" name="submit" value="Enviar">
                &nbsp;
                <input type="reset" name="reset" value="Borrar">
              </div>
            </form>
          </div>
        </div>


        <!-- ################################################################################################ -->
      </div>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
</body>
<app-footer></app-footer>
