<div class="wrapper row4">
  <footer id="footer" class="hoc clear container">
    <article class="one_quarter first">
      <h6 class="heading">Aventura Chapaca</h6>
      <p>Tours por los mejores lugares de la chura Tarija&hellip;</p>
      <p class="nospace"><a href="index.html">Inicio</a></p>
    </article>
    <div class="one_quarter">
      <h6 class="heading">Contactos y Redes Sociales</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-phone"></i> +591 68691266</li>
        <li><i class="fa fa-envelope-o"></i> aventuraChapaca@gmail.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100095163994640&mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
